<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/bootstrap.rtl.min.css">
    <link rel="icon" href="../../../images/logo.png">
    <link rel="stylesheet" href="../../../css/main.css">
    <title>Nerds</title>
  </head>
  <body>
    <main>
      <div class="container-fulid">
        <div class="row mx-0 mt-2 w-100" id="body">
          <div class="col-12 mt-5">
            <div class="d-flex justify-content-between">
              <div class="input-group">
                <p class="rounded-pill border p-1 placeholder-glow" style="width:60px;height:60px;border-color:#2535ae !important;"><p class="placeholder"></p></p>
              </div>
              <div class="w-25 mt-3 mb-0 pb-0 placeholder-glow">
                <p class="card-text"><small class="text-muted placeholder-glow"><p class="placeholder col-10"></p></small></p>
              </div>
            </div>
            <div class="mt-4 mx-4 placeholder-glow">
              <p class="placeholder col-12"></p>
              <p class="placeholder col-6"></p>
            </div>
            <div class="ratio ratio-16x9 placeholder-glow">
              <span class="placeholder col-12 h-100"></span>
            </div>
          </div>
          <div class="col-12 mt-5">
            <div class="d-flex justify-content-between">
              <div class="input-group">
                <p class="rounded-pill border p-1 placeholder-glow" style="width:60px;height:60px;border-color:#2535ae !important;"><p class="placeholder"></p></p>
              </div>
              <div class="w-25 mt-3 mb-0 pb-0 placeholder-glow">
                <p class="card-text"><small class="text-muted placeholder-glow"><p class="placeholder col-10"></p></small></p>
              </div>
            </div>
            <div class="mt-4 mx-4 placeholder-glow">
              <p class="placeholder col-12"></p>
              <p class="placeholder col-6"></p>
            </div>
            <div class="ratio ratio-16x9 placeholder-glow">
              <span class="placeholder col-12 h-100"></span>
            </div>
          </div>
          <div class="col-12 mt-5">
            <div class="d-flex justify-content-between">
              <div class="input-group">
                <p class="rounded-pill border p-1 placeholder-glow" style="width:60px;height:60px;border-color:#2535ae !important;"><p class="placeholder"></p></p>
              </div>
              <div class="w-25 mt-3 mb-0 pb-0 placeholder-glow">
                <p class="card-text"><small class="text-muted placeholder-glow"><p class="placeholder col-10"></p></small></p>
              </div>
            </div>
            <div class="mt-4 mx-4 placeholder-glow">
              <p class="placeholder col-12"></p>
              <p class="placeholder col-6"></p>
            </div>
            <div class="ratio ratio-16x9 placeholder-glow">
              <span class="placeholder col-12 h-100"></span>
            </div>
          </div>

          <div class="spinner mt-2 d-flex justify-content-center">
            <div class="spinner-border" role="status"></div>
          </div>
        </div>
      </div>
    </main>
    <script src="../../../js/bootstrap.bundle.min.js"></script>
    <script src="../../../js/main.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
