<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="../../../css/main.css">
    <link rel="icon" href="../../../images/logo.png">
    <title>Nerds</title>
  </head>
  <body>
    <main>
      <div class="container">
        <h2 class="text-primary text-center mt-5">اشتراكاتي</h2>
        <div class="row" id="body">
          <div class="col-12 col-md-6 mt-5" role="button" aria-hidden="true">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-6">
                  <div class="card-body">
                    <h5 class="card-title placeholder-glow"> <span class="placeholder col-11"></span>  </h5>
                    <p class="card-text placeholder-glow"><span class="placeholder col-8"></span> <span class="placeholder col-3"></span> <span class="placeholder col-4"></span> <span class="placeholder col-3"></span></span></p>
                    <p class="card-text placeholder-glow"><small class="text-muted"> <span class="placeholder col-3"></span> </small></p>
                  </div>
                </div>
                <div class="col-6 placeholder-glow">
                  <span class="placeholder col-12 h-100"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 mt-5" role="button" aria-hidden="true">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-6">
                  <div class="card-body">
                    <h5 class="card-title placeholder-glow"> <span class="placeholder col-11"></span>  </h5>
                    <p class="card-text placeholder-glow"><span class="placeholder col-8"></span> <span class="placeholder col-3"></span> <span class="placeholder col-4"></span> <span class="placeholder col-3"></span></span></p>
                    <p class="card-text placeholder-glow"><small class="text-muted"> <span class="placeholder col-3"></span> </small></p>
                  </div>
                </div>
                <div class="col-6 placeholder-glow">
                  <span class="placeholder col-12 h-100"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 mt-5" role="button" aria-hidden="true">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-6">
                  <div class="card-body">
                    <h5 class="card-title placeholder-glow"> <span class="placeholder col-11"></span>  </h5>
                    <p class="card-text placeholder-glow"><span class="placeholder col-8"></span> <span class="placeholder col-3"></span> <span class="placeholder col-4"></span> <span class="placeholder col-3"></span></span></p>
                    <p class="card-text placeholder-glow"><small class="text-muted"> <span class="placeholder col-3"></span> </small></p>
                  </div>
                </div>
                <div class="col-6 placeholder-glow">
                  <span class="placeholder col-12 h-100"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="spinner mt-2 d-flex justify-content-center">
            <div class="spinner-border" role="status"></div>
          </div>
        </div>
      </div>
    </main>
    <script src="../../../js/bootstrap.bundle.min.js"></script>
    <script src="../../../js/main.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
